.cat-info {
  width: 320px;
  box-sizing: border-box;
}

.cat-info__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.13;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 10px;
  white-space: nowrap;
}

.cat-info__input {
  height: 45px;
  opacity: 0.5;
  border: solid 1px #cdcdcd;
  margin-bottom: 15px;
  font-family: "Oswald", "Helvetica", sans-serif;
  box-sizing: border-box;
  min-height: 52px;
  padding-left: 15px;

  &--name {
    width: 230px;
    margin-bottom: 7px;
  }

  &--weight {
    width: 199px;
    margin-bottom: 7px;
  }

  &--age {
    width: 156px;
    margin-bottom: 7px;
  }
}

@media (min-width: 768px) {
  .cat-info__container {
    min-width: 768px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 28px;
  }

  .cat-info__label {
    font-size: 20px;
  }

  .cat-info__input {
    opacity: 0.5;
    margin: auto;

    &--name {
      width: 568px;
      margin-top: 0;
      margin-left: 7px;
    }

    &--weight {
      width: 540px;
      margin-top: 0;
      margin-left: 7px;
    }

    &--age {
      width: 498px;
      margin-top: 0;
      margin-left: 7px;
    }

    &::placeholder {
      color: black;
      font-size: 20px;
    }
  }

  .cat-info__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  .cat-info {
    width: 700px;
    padding: 0;
  }

  .cat-info__label {
    margin-left: 0;
    margin-right: 18px;
  }

  .cat-info__container {
    min-width: auto;
    margin-left: 100px;
  }

  .cat-info__input {
    margin-left: 0;

    &--name {
      width: 502px;
    }

    &--weight {
      width: 475px;
    }

    &--age {
      width: 435px;
    }

    &::placeholder {
      color: black;
      font-size: 20px;
    }
  }

  .cat-info__wrapper {
    width: 600px;
  }
}
