.catalog__info {
  position: relative;
  display: block;
  min-height: 100px;
  margin: 0 auto;
}

.catalog__tr {
  display: flex;
  justify-content: space-between;
  width: 140px;
  text-align: left;
}

.catalog__header {
  display: block;
  width: 112px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;
  padding-top: 7px;
  margin-bottom: 10px;

  &--more {
    text-align: center;
    margin-top: 75px;
    width: auto;
    position: relative;
  }
}

.catalog__icon {
  position: absolute;
  left: 97px;
  top: 28px;
  opacity: 0.3;
}

.catalog__header-tagline {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.catalog__table {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-size: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.33;
  text-align: right;
}

.catalog__link {
  font-size: 16px;
}

.catalog__image {
  width: 140px;
  height: 145px;
}

.catalog__header-link {
  text-decoration: none;
  color: black;
}

.catalog__card {
  display: flex;
  flex-direction: column;
  height: 209px;
  border: 1px solid #cdcdcd;
  border-top: none;
  box-sizing: border-box;

  &:first-child {
    border: 1px solid #cdcdcd;
  }

  &--more {
    border-bottom: 1px solid lightgrey;
  }
}

.catalog__wrapper {
  display: flex;
  width: 280px;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
}

@media (min-width: 768px) {
  .catalog {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__header {
    width: 130px;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;

    &--more {
      width: 140px;
    }
  }

  .catalog__card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 325px;
    min-height: 430px;
    box-sizing: border-box;
    margin-right: 35px;
    margin-left: 28px;
    margin-bottom: 140px;
    border: none;

    &:first-child {
      border: none;
    }

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 25px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--more {
      background-color: white;
      border-top: none;
      border-bottom: none;
      border: 1px solid #cdcdcd;
    }
  }

  .catalog__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    &--more {
      margin-top: -47px;
    }
  }

  .catalog__image {
    width: 315px;
    position: absolute;
    bottom: 200px;

    &--chicken500 {
      left: 2px;
      width: 340px;
      height: 172px;
    }

    &--chicken1000 {
      height: 208px;
    }

    &--fish500 {
      height: 174px;
    }

    &--fish1000 {
      height: 208px;
    }

    &--buckwheat500 {
      height: 170px;
    }

    &--buckwheat1000 {
      height: 208px;
    }

    &--rice500 {
      height: 174px;
    }
  }

  .catalog__link {
    position: absolute;
    margin-bottom: 0;
    bottom: 40px;
    left: 38px;
    width: 250px;
    box-sizing: border-box;
  }

  .catalog__wrapper {
    width: 320px;
    position: relative;
    margin-top: 30px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  .catalog__table {
    width: 250px;
  }

  .catalog__tr {
    width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 5px;
  }

  .catalog__header-tagline {
    width: 175px;
    font-size: 16px;
    text-align: center;
    margin-top: 0;
  }

  .catalog__icon {
    opacity: 0.2;
    left: 54px;
    top: -92px;
    width: 61px;
    height: 61px;
  }
}

@media (min-width: 1200px) {
  .catalog {
    width: 1440px;
    margin: auto;
    padding-left: 145px;
  }

  .catalog__header {
    margin-top: 15px;

    &--more {
      margin-bottom: 20px;
    }
  }

  .catalog__header-tagline {
    height: 5px;
  }

  .catalog__info {
    box-sizing: border-box;

    &--more {
      margin-top: 114px;
      margin-left: 39px;
      height: 100px;
    }
  }

  .catalog__card {
    box-sizing: border-box;
    width: 245px;
    height: 430px;
    margin-right: 50px;
    margin-bottom: 145px;

    &:nth-child(2n) {
      margin-right: 50px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__wrapper {
    box-sizing: border-box;
    width: 245px;
    height: 430px;

    &:nth-child(2n) {
      margin-right: 75px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .catalog__image {
    bottom: 303px;

    &--fish500 {
      height: 174px;
    }
  }

  .catalog__table,
  .catalog__tr {
    width: 170px;
  }

  .catalog__table {
    margin-top: 10px;
  }

  .catalog__icon {
    left: 57px;
  }
}
