.catalog__info {
  display: block;
  min-height: 100px;
  margin: 0 auto;
}

.catalog__tr {
  display: flex;
  justify-content: space-between;
  width: 140px;
  text-align: left;
}

.catalog__header {
  display: block;
  width: 75px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  text-align: left;

  &--more {
    text-align: center;
    margin-top: 75px;
    width: auto;
    position: relative;
  }
}

.catalog__header-tagline {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}

.catalog__table {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-size: 12px;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.33;
  text-align: right;
}

.catalog__link {
  font-size: 16px;
}

.catalog__image {
  width: 140px;
  height: 145px;
}

.catalog__card {
  display: flex;
  min-height: 210px;

  &--more {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: 25px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .catalog {
    width: 720px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__header {
    width: 125px;
    font-size: 20px;
    text-align: center;
  }

  .catalog__card {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    width: 325px;
    min-height: 430px;
    box-sizing: border-box;

    &--more {
      background-color: white;
      border-top: none;
      border-bottom: none;
      border: 1px solid #cdcdcd;
      margin: 0;
    }
  }

  .catalog__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .catalog__image {
    position: absolute;
    bottom: 320px;

    &--chicken500 {
      width: 160px;
      height: 172px;
    }

    &--chicken1000 {
      width: 195px;
      height: 208px;
    }

    &--fish500 {
      width: 160px;
      height: 174px;
    }

    &--fish1000 {
      width: 195px;
      height: 208px;
    }

    &--buckwheat500 {
      width: 160px;
      height: 170px;
    }

    &--buckwheat1000 {
      width: 195px;
      height: 208px;
    }

    &--rice500 {
      width: 163px;
      height: 174px;
    }
  }

  .catalog__link {
    position: absolute;
    margin-bottom: 0;
    bottom: 40px;
    left: 38px;
    width: 250px;
    box-sizing: border-box;
  }

  .catalog__wrapper {
    position: relative;
    margin-right: 60px;
    margin-bottom: 140px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin: 0;
    }
  }

  .catalog__table {
    width: 250px;
  }

  .catalog__tr {
    width: 250px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }

  .catalog__header-tagline {
    width: 175px;
    font-size: 16px;
    text-align: center;
  }
}
