.cooperation {
  display: flex;
  width: 320px;
  min-height: 115px;
  padding-left: 20px;
  padding-right: 25px;
  align-items: center;
  box-sizing: border-box;

  &--active {
    background-color: white;
  }

  &--passive {
    background-color: #f2f2f2;
  }
}

.cooperation__tagline {
  width: 245px;
  text-transform: uppercase;
  margin-right: 5px;
  line-height: 1.25;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
}

.cooperation__address {
  width: 250px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  text-align: left;
  font-style: normal;
}

.cooperation__map {
  width: 320px;
  height: 360px;
  position: relative;
}

@media (min-width: 768px) {
  .cooperation {
    min-height: 200px;
    width: 768px;
    justify-content: space-between;
    flex-wrap: wrap;

    &--passive {
      background-color: #f2f2f2;
    }
  }

  .cooperation__tagline {
    width: 150px;
    margin-left: 50px;
    line-height: 1.25;
    font-size: 20px;
  }

  .cooperation__address {
    width: 165px;
    text-align: right;
    margin-right: 0;
    font-size: 16px;
  }

  .cooperation__map {
    width: 768px;
    height: 400px;
  }

  .cooperation__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 150px;
  }
}

@media (min-width: 1200px) {
  .cooperation {
    position: absolute;
    z-index: 2;
    width: 572px;
    top: 108px;
    left: 110px;
    padding-right: 87px;
    padding-left: 25px;

    &--reverse {
      background-color: white;
    }
  }

  .cooperation__address {
    text-align: left;
  }

  .cooperation__map {
    width: 1440px;
  }

  .cooperation__wrapper {
    justify-content: space-between;
    padding-left: 110px;
    padding-right: 103px;
  }
}
