.example {
  width: 320px;
  background-color: #f2f2f2;
}

.example__header {
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 35px;
}

.example__description {
  display: block;
  margin-left: 20px;
  margin-bottom: 26px;
  width: 268px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
}

.example__cost {
  text-transform: uppercase;
  line-height: 1.43;
  font-size: 14px;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 35px;
}

.example__result {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.example__img {
  display: block;
  width: 311px;
  height: 235px;
  margin-left: 5px;
  margin-bottom: 35px;
  padding: 0;
}

.example__range-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.example__img--after {
  display: none;
}

.example__info {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

.example__item {
  position: relative;
  width: 121px;
  height: 52px;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  white-space: normal;
}

.example__status {
  width: 203px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-bottom: 35px;
  margin: auto;
}

.example__range {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88px;
  height: 13px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: $white;
}

.example__scale {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $green-button;
  margin-left: 5px;
}

.example__label {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;

  &--before {
    margin-right: 20px;
  }

  &--after {
    margin-left: 20px;
  }
}

.example__button {
  display: none;
}

.example__item--weight {
  &::before {
    display: block;
    width: 60px;
    height: auto;
    position: absolute;
    content: "снижение веса";
    top: 44px;
    left: 30px;
    white-space: wrap;
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #f2f2f2;
  }
}

.example__item--days {
  &::after {
    display: block;
    width: 60px;
    height: auto;
    position: absolute;
    content: "затрачено времени";
    top: 44px;
    left: 30px;
    white-space: wrap;
    text-align: center;
    font-family: "Arial", sans-serif;
  }
}

@media (min-width: 768px) {
  .example {
    width: 768px;
  }

  .example__header {
    margin-top: -583px;
    margin-left: 10px;
    margin-bottom: 65px;
  }

  .example__item {
    display: block;
    box-sizing: border-box;
    width: 162px;
    height: 72px;
    font-size: 14px;

    &:first-child {
      margin-right: 40px;
    }

    &::before,
    &::after {
      white-space: nowrap;
      top: 48px;
    }

    &::before {
      left: 45px;
      top: 62px;
    }

    &::after {
      left: 12px;
    }
  }

  .example__item--weight {
    &::before {
      background-color: white;
      left: 32px;
    }
  }

  .example__item--days {
    &::after {
      background-color: white;
      left: 19px;
      top: 61px;
    }
  }

  .example__description {
    width: 674px;
    line-height: 1.5;
    font-size: 16px;
    margin-left: 32px;
    margin-top: 0;
  }

  .example__info {
    font-size: 30px;
    line-height: 1.23;
    margin-top: 15px;
  }

  .example__cost {
    width: 175px;
    font-size: 20px;
    padding-right: 20px;
    text-align: right;
    margin-right: -60px;
    margin-top: 33px;
  }

  .example__status {
    width: 600px;
    background-color: $grey;
    margin: auto;
    margin-top: -7px;
  }

  .example__range {
    width: 430px;
    height: 3px;
    background-color: #dcdcdc;
  }

  .example__label {
    font-size: 20px;
    line-height: 1;
    margin-top: -10px;
    padding-bottom: 6px;
    border-bottom: 1px dotted $greybrown;

    &--before {
      margin-right: 25px;
    }
  }

  .example__scale {
    display: none;
  }

  .example__button {
    display: block;
    position: absolute;
    width: 34px;
    height: 34px;
    top: 33px;
    left: 302px;
    margin-top: -47px;
    margin-left: -17px;
    background-color: $white;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 12px;
      left: 12px;
      background-color: $green-button;
      border-radius: 50%;
    }
  }

  .example__toogle-item {
    display: block;
    position: relative;

    &--before {
      width: 400px;
      z-index: 3;
      overflow: hidden;
    }

    &--after {
      z-index: 1;
    }
  }

  .example__result {
    width: 365px;
    margin: 0;
    margin-left: 32px;
  }

  .example__wrapper {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .example__slider {
    width: 768px;
    min-height: 485px;
  }

  .example__range-wrapper {
    width: 582px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14px;
  }

  .example__slider-container {
    min-height: 500px;
  }

  .example__img {
    width: auto;
    height: auto;
  }

  .example__img--before {
    margin-top: -148px;
    margin-left: 46px;
  }

  .example__img--after {
    display: block;
    margin-top: -517px;
  }
}

@media (min-width: 1200px) {
  .example {
    width: 1440px;
    min-height: 460px;
    border: none;
    margin-left: 61px;
  }

  .example__header {
    margin-top: -159px;
    margin-left: 90px;
    margin-bottom: 145px;
  }

  .example__description {
    width: 432px;
    margin-left: 112px;
  }

  .example__item {
    &::before,
    &::after {
      background-color: #f2f2f2;
    }
  }

  .example__img {
    margin-left: 34px;
    margin-bottom: 54px;
  }

  .example__span-cost {
    white-space: nowrap;
    margin-left: 58px;
    margin-right: -53px;
  }

  .example__img--before {
    margin-top: -187px;
  }

  .example__img--after {
    margin-top: -518px;
  }

  .example__result {
    margin-left: -112px;
    margin-top: 43px;
  }

  .example__wrapper {
    flex-direction: column;
  }

  .example__cost {
    width: 285px;
    margin-top: 60px;
    margin-left: -266px;
    padding: 0;
    padding-right: 10px;
  }

  .example__slider {
    width: 1440px;
    margin-left: 46px;
  }

  .example__slider-container {
    width: 800px;
  }

  .example__range-wrapper {
    margin-top: 34px;
  }

  .example__status {
    margin-top: 15px;
  }
}
