.example {
  width: 320px;
  background-color: #f2f2f2;
}

.example__header {
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 35px;
}

.example__description {
  display: block;
  margin-left: 20px;
  margin-bottom: 26px;
  width: 268px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
}

.example__cost {
  text-transform: uppercase;
  line-height: 1.43;
  font-size: 14px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

.example__result {
  width: 280px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.example__status {
  display: flex;
  width: 320px;
  position: relative;
  margin-right: 20px;
  padding-top: 35px;
  padding-left: 65px;
  padding-bottom: 40px;
}

.example__range {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 85px;
  height: 15px;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  background-color: white;
}

.example__button {
  display: none;
}

.example__img {
  display: block;
  width: 311px;
  height: 235px;
  margin-left: 5px;
  padding: 0;
}

.example__scale {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  margin-left: 5px;
}

.example__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;

  &--before {
    margin-right: 20px;
  }

  &--after {
    margin-left: 10px;
  }
}

.example__info {
  font-size: 24px;
  text-align: center;
  margin-top: 5px;
  text-transform: uppercase;
}

.example__item {
  position: relative;
  width: 125px;
  height: 55px;
  border: 1px solid #cdcdcd;
  font-size: 12px;
  white-space: normal;
}

.example__item--weight {
  &::before {
    display: block;
    width: 60px;
    height: auto;
    position: absolute;
    content: "снижение веса";
    top: 44px;
    left: 30px;
    white-space: wrap;
    text-align: center;
    font-family: "Arial", sans-serif;
    background-color: #f2f2f2;
  }
}

.example__item--days {
  &::after {
    display: block;
    width: 60px;
    height: auto;
    position: absolute;
    content: "затрачено времени";
    top: 44px;
    left: 30px;
    white-space: wrap;
    text-align: center;
    font-family: "Arial", sans-serif;
  }
}

@media (min-width: 768px) {
  .example {
    width: 720px;
    border-top: 1px solid #cdcdcd;
  }

  .example__item {
    display: block;
    width: 162px;
    height: 72px;
    box-sizing: border-box;

    &:first-child {
      margin-right: 40px;
    }

    &::before,
    &::after {
      white-space: nowrap;
      top: 48px;
    }

    &::before {
      left: 23px;
    }

    &::after {
      left: 12px;
    }
  }

  .example__description {
    width: 674px;
    line-height: 1.5;
    font-size: 16px;
  }

  .example__info {
    font-size: 30px;
    line-height: 1.23;
  }

  .example__cost {
    width: 175px;
    font-size: 20px;
    padding-right: 20px;
    text-align: right;
  }

  .example__result {
    margin: 0;
  }

  .example__wrapper {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .example {
    width: 1100px;
  }
}
