.howitworks {
  width: 280px;
  margin: auto;
}

.howitworks__header {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 40px;
}

.howitworks__list {
  display: block;
  width: 320px;
  padding: 0;
}

.howitworks__paragraph {
  width: 195px;
  margin-left: 3px;
  margin-bottom: 0;
}

.howitworks__item {
  list-style: none;
  margin-bottom: 27px;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.29;
  text-align: left;
  font-size: 14px;
  position: relative;
  margin-left: 77px;

  &--healthy::before,
  &--powder::before,
  &--cutlery::before,
  &--time::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center;
    left: -75px;
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--cutlery::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--time::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: 768px) {
  .howitworks {
    width: 768px;
    margin-bottom: -45px;
  }

  .howitworks__list {
    display: flex;
    flex-wrap: wrap;
    width: 710px;
  }

  .howitworks__item {
    font-size: 16px;
    width: 200px;
    min-height: 230px;
    line-height: 1.5;
    margin-right: 180px;
    margin-bottom: 90px;
    margin-left: 0;
    box-sizing: border-box;

    &::before {
      width: 80px;
      height: 80px;
      left: 0;
    }

    &--healthy::after,
    &--powder::after,
    &--cutlery::after,
    &--time::after {
      position: absolute;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      color: #f2f2f2;
      z-index: -1;
      width: 70px;
      height: 230px;
      top: -110px;
      right: 12px;
    }

    &--healthy::after {
      content: "1";
    }

    &--powder::after {
      content: "2";
    }

    &--cutlery::after {
      content: "3";
    }

    &--time::after {
      content: "4";
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .howitworks__paragraph {
    width: 235px;
    padding-top: 90px;
    padding-left: 0;
    margin-left: 0;
    margin-top: 22px;
  }

  .howitworks__header {
    margin-bottom: 73px;
  }
}

@media (min-width: 1200px) {
  .howitworks {
    width: 1350px;
  }

  .howitworks__list {
    width: 1200px;
  }

  .howitworks__item {
    margin-right: 125px;

    &:nth-child(2n) {
      margin-right: 125px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .howitworks__header {
    margin-top: 75px;
  }
}
