.order-goal {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  height: 158px;
  padding-top: 10px;
}

.order-goal__label {
  display: block;
  position: relative;
  margin-bottom: 20px;

  &:first-child {
    margin-top: 15px;
  }
}

.order-goal__input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: -1px;
}

.order-goal__span {
  margin-left: 50px;
}

.order-goal__label input[type="radio"] + .order-goal__indicator {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  width: 30px;
  height: 30px;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid gray;
  }

  &:active {
    opacity: 0.3;
  }
}

.order-goal__label input[type="radio"] ~ .order-goal__over-indicator {
  position: absolute;
  content: "";
  top: 5px;
  left: 13px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.order-goal__label input[type="radio"]:checked + .order-goal__indicator {
  position: absolute;
  left: 3px;
  top: -5px;
}

.order-goal__label input[type="radio"]:not(:checked) + .order-goal__indicator {
  left: 3px;
  top: -5px;
}

.order-goal__label input[type="radio"]:checked ~ .order-goal__over-indicator {
  display: block;
}

.order-goal__label input[type="radio"]:not(:checked) ~ .order-goal__over-indicator {
  display: none;
}

@media (min-width: 768px) {
  .order-goal {
    width: 630px;
    min-height: 195px;
    border: 1px solid #cdcdcd;
    margin-left: 70px;
    margin-bottom: 40px;
  }

  .order-goal__label {
    display: block;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 22px;

    &:first-child {
      margin-top: 21px;
    }
  }

  .order-goal__label input[type="radio"] ~ .order-goal__over-indicator {
    top: 6px;
    left: 14px;
    width: 18px;
    height: 18px;
  }

  .order-goal__label input[type="radio"] + .order-goal__indicator {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
  }

  .order-goal__span {
    margin-left: 65px;
  }
}

@media (min-width: 1200px) {
  .order-goal {
    display: block;
    width: 570px;
    height: 195px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-top: -59px;
    margin-left: 45px;
  }

  .order-goal__label {
    &:first-child {
      margin-top: 30px;
    }
  }

  .order-goal__label input[type="radio"]:checked + .order-goal__indicator,
  .order-goal__label input[type="radio"]:not(:checked) + .order-goal__indicator {
    left: 9px;
    top: -6px;
  }

  .order-goal__label input[type="radio"] ~ .order-goal__over-indicator {
    top: 5px;
    left: 20px;
  }

  .order-goal__span {
    margin-left: 70px;
    padding-bottom: 10px;
  }
}
