.order-goal {
  display: flex;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.order-goal__label {
  display: block;
  margin-bottom: 25px;

  &:first-child {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  .order-goal {
    border: 1px solid #cdcdcd;
  }
}

@media (min-width: 1200px) {
  .order-goal {
    width: 570px;
    height: 195px;
    box-sizing: border-box;
  }
}
