.order-form__fieldset {
  border: none;
}

.order-form__text {
  text-transform: uppercase;
  font-size: 15.3px;
  text-align: left;
}

.order-form__link {
  margin-left: 20px;
}

.order-form__required {
  display: block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  margin-top: 15px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .order-form__text {
    font-size: 20px;
  }

  .order-form__container {
    width: 535px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75px;
    margin-left: 50px;
    margin-right: 10px;
  }

  .order-form__required {
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 10px;
    white-space: nowrap;
  }
}

@media (min-width: 1200px) {
  .order-form__wrapper {
    width: 1347px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order-form__container {
    width: 850px;
    margin-left: 150px;
    margin-top: -28px;
    margin-bottom: 81px;
  }

  .order-form__fieldset {
    width: 700px;
  }
}
