.order-link {
  display: block;
  width: 280px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: white;
  text-align: center;
  line-height: 40px;
  border: none;
  font-family: "Oswald", "Helvetica", sans-serif;

  &--small {
    font-size: 14px;
  }

  &--all {
    display: block;
    background-color: #f2f2f2;
    font-size: 16px;
    color: black;
    margin-top: -100px;
  }

  &--catalog,
  &-all {
    margin-top: -50px;
  }
}

@media (min-width: 768px) {
  .order-link {
    width: 250px;

    &--small {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 52px;
      font-size: 20px;
      position: absolute;
      top: 400px;
      left: 110px;
    }

    &--catalog {
      margin: auto;
    }

    &--all {
      top: 449px;
      position: absolute;
    }

    &--send {
      width: 280px;
      height: 50px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .order-link {
    &--small {
      position: absolute;
      top: 390px;
      left: 205px;
    }
  }
}
