.order-form__fieldset {
  border: none;
}

.order-form__text {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.order-form__link {
  margin-left: 20px;
}

.order-form__required {
  display: block;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  margin-top: 23px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .order-form__text {
    font-size: 20px;
  }

  .order-form__container {
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .order-form__required {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .order-form__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .order-form__container {
    width: 830px;
  }
}
