.order-link {
  display: block;
  width: 280px;
  height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #68b738;
  color: white;
  text-align: center;
  line-height: 40px;
  border: none;
  font-family: "Oswald", "Helvetica", sans-serif;
  white-space: nowrap;

  &--small {
    position: relative;
    font-size: 14px;
    z-index: 2;
    margin: auto;
    margin-top: 297px;
  }

  &--catalog {
    margin: auto;
    margin-top: -5px;
    margin-bottom: 25px;
  }

  &--send {
    margin-top: 7px;
    margin-left: 24px;
  }

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.order-link--all {
  display: block;
  background-color: #f2f2f2;
  font-size: 16px;
  color: black;
  margin: auto;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: 768px) {
  .order-link {
    width: 250px;

    &--small {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 245px;
      height: 52px;
      font-size: 20px;
      z-index: 2;
      margin-top: 0;
      margin-left: 0;
    }

    &--catalog {
      margin: auto;
    }

    &--all {
      position: absolute;
    }

    &--send {
      width: 280px;
      height: 50px;
      font-size: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .order-link {
    box-sizing: border-box;

    &--send {
      width: 570px;
    }

    &--catalog,
    &--all {
      width: 170px;
    }
  }
}
