.order-over {
  display: flex;
}

.order-over__label {
  display: block;
  margin-bottom: 25px;

  &:first-child {
    margin-top: 25px;
  }
}

@media (min-width: 768px) {
  .order-over__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .order-over__label {
    width: 220px;
    margin-right: 125px;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
