.order-contacts__input {
  height: 45px;
  opacity: 0.5;
  border: solid 1px #cdcdcd;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.13;
  font-family: "Oswald", "Helvetica", sans-serif;
  padding-left: 15px;

  &--email {
    width: 190px;
  }

  &--phone {
    width: 168px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    border: solid 2px #444444;
    opacity: 1;
  }

  &:invalid {
    border: solid 2px #ff8282;
    opacity: 1;
  }
}

.order-contacts__icon {
  position: absolute;
  left: 50px;
  top: 10px;

  &--mail {
    left: 252px;
    top: 21px;
  }

  &--phone {
    left: 252px;
    top: 17px;
  }

  &:active {
    fill: #68b738;
  }

  &:invalid {
    fill: #ff8282;
  }
}

.order-contacts__container {
  position: relative;
  height: 45px;

  &:first-child {
    margin-bottom: 15px;
  }
}

.order-contacts__label {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 10px;
}

.order-contacts__header {
  display: block;
  line-height: 1;
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .order-contacts__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 52px;
    margin-bottom: 20px;
  }

  .order-contacts__container {
    width: 645px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &:first-child {
      margin-bottom: 30px;
    }
  }

  .order-contacts__label {
    white-space: nowrap;

    &:first-child {
      margin-right: 13px;
    }
  }

  .order-contacts__icon {
    &--mail {
      left: 601px;
      top: 19px;
    }

    &--phone {
      left: 601px;
      top: 12px;
    }
  }

  .order-contacts__input {
    min-height: 45px;
    margin: auto;

    &--email {
      width: 535px;
    }

    &--phone {
      width: 516px;
    }

    &::placeholder {
      color: black;
      font-size: 20px;
    }
  }
}


@media (min-width: 1200px) {
  .order-contacts__wrapper {
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
    padding-top: 20px;
  }

  .order-contacts__label {
    white-space: nowrap;

    &:first-child {
      margin-right: 24px;
    }
  }

  .order-contacts__input {
    box-sizing: border-box;
    min-width: 470px;
    min-height: 52px;
    margin-left: 0;

    &--email {
      width: 485px;
    }

    &--phone {
      width: 470px;
    }
  }

  .order-contacts__icon {
    &--mail {
      left: 541px;
    }

    &--phone {
      left: 545px;
      top: 15px;
    }
  }
}
