.over-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.over-products__item {
  width: 280px;
  height: 130px;
  margin: auto;
  border-top: 1px solid lightgrey;
  padding-bottom: 17px;
  box-sizing: border-box;

  &:last-child {
    border-bottom: 1px solid lightgrey;
  }
}

.over-products__title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  margin: 0;
  margin-left: 3px;
  margin-top: 10px;
}

.over-products__tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 280px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  text-align: left;
}

.over-products__table {
  margin-top: 7px;
}

.over-products__header {
  display: block;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 27px;
  font-size: 22px;
}

.over-products__wrapper {
  width: 280px;
  margin: auto;
}

@media (min-width: 768px) {
  .over-products,
  .over-products__table {
    width: 768px;
  }

  .over-products__table {
    width: 230px;
    margin-left: 60px;
    margin-top: 18px;

    &--water {
      margin-left: 343px;
    }

    &--milk {
      margin-left: 415px;
    }
  }

  .over-products__link {
    width: 633px;
    margin: auto;
  }

  .over-products__title {
    font-size: 20px;
    white-space: nowrap;
    padding-left: 34px;
  }

  .over-products__tr {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0;

    &--water {
      width: 160px;
    }

    &--milk {
      width: 150px;
    }

    &:nth-child(2) {
      width: 20px;
    }
  }

  .over-products__item {
    width: 708px;
    min-height: 140px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }

  .over-products__wrapper {
    display: flex;
    width: 669px;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .over-products {
    width: 1200px;
    box-sizing: border-box;
  }

  .over-products__title {
    padding: 0;
  }

  .over-products__table {
    &--water,
    &--milk {
      margin-left: auto;
    }
  }

  .over-products__tr {
    width: 280px;

    &--water,
    &--milk {
      width: 280px;
    }
  }

  .over-products__link {
    width: 245px;
    margin: 0;
  }

  .over-products__wrapper {
    width: 605px;
  }

  .over-products__list {
    width: 900px;
    margin-left: 111px;
    margin-right: 40px;
  }

  .over-products__item {
    width: 895px;
    min-height: 72px;
    height: 70px;
    display: flex;
    border-right: none;
    border-left: none;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: 0;
    margin-left: 60px;
  }
}
