.over-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.over-products__item {
  border-top: 1px solid lightgrey;
  padding-bottom: 17px;

  &:last-child {
    border-bottom: 1px solid lightgrey;
  }
}

.over-products__title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.over-products__tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 280px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  text-align: left;
}

.over-products__header {
  display: block;
  margin-top: 50px;
  margin-left: 20px;
}

@media (min-width: 768px) {
  .over-products,
  .over-products__table {
    width: 720px;
  }

  .over-products__table {
    width: 250px;
  }

  .over-products__link {
    width: 633px;
    margin: auto;
  }

  .over-products__title {
    font-size: 20px;
    white-space: nowrap;
    padding-left: 40px;
  }

  .over-products__tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0;
  }

  .over-products__item {
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
  }

  .over-products__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 43px;
    box-sizing: border-box;
  }
}

@media (min-width: 1200px) {
  .over-products {
    width: 1100px;
  }

  .over-products__link {
    width: 245px;
  }
}
