.page-main {
  width: 320px;
}

.page-main__header {
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 32px;

  &--inversion {
    color: white;
  }

  &--select {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: left;
  }
}

.page-main__description {
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.page-main__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -135px;
}

.page-main__tagline {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: -8px;
}

.page-main__wrapper {
  width: 320px;
  margin-left: 20px;
  margin-right: 20px;
}

.page-main__text {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
}

.page-main__present {
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .page-main {
    min-width: 710px;
    margin-top: 70px;
  }

  .page-main__description {
    min-width: 410px;
    background-image: none;
  }

  .page-main__header {
    font-size: 60px;

    &--catalog {
      white-space: nowrap;
      margin-bottom: 160px;
      padding: 0;
    }

    &--inversion {
      color: black;
      text-align: left;
      font-size: 60px;
      width: 435px;
      position: absolute;
      left: 105px;
    }

    &--select {
      margin-bottom: 50px;
    }
  }

  .page-main__tagline {
    color: black;
    text-align: left;
    font-size: 20px;
    position: absolute;
    left: 108px;
    top: 333px;
  }

  .page-main__image {
    display: inline-block;
    width: 710px;
    height: 610px;
    padding-top: 50px;
    padding-left: 60px;
  }

  .page-main__text {
    font-size: 20px;
    width: 330px;
    line-height: 1.5;
    margin-bottom: 70px;
  }
}

@media (min-width: 1200px) {
  .page-main__image {
    z-index: 2;
    width: 552px;
    height: 500px;
    padding: 0;
    padding-top: 140px;
    padding-left: 213px;
  }

  .page-main__description {
    position: absolute;
    right: 0;
    top: 0;
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
    z-index: -1;
  }

  .page-main__tagline {
    display: block;
    position: absolute;
    left: -500px;
  }

  .page-main__header {
    &--inversion {
      position: absolute;
      margin-top: 135px;
      left: -500px;
    }
  }
}
