.page-main {
  width: 320px;
}

.page-main__header {
  font-size: 36px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 39px;

  &--inversion {
    color: white;
  }

  &--select {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: left;
  }

  &--catalog {
    text-align: left;
    padding-left: 22px;
  }
}

.page-main__description {
  width: 320px;
  height: 305px;
  margin-top: -300px;
}

.page-main__container {
  margin: auto;
}

.page-main__background {
  width: 320px;
  height: 305px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
}

.page-main__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto;
  margin-top: -143px;
  margin-bottom: 65px;
}

.page-main__tagline {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-top: -15px;
  margin-bottom: 30px;
}

.page-main__wrapper {
  width: 320px;
  margin-right: 20px;
}

.page-main__example-wrapper {
  width: 320px;
  margin-right: 20px;
}

.page-main__text {
  width: 227px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 28px;
}

.page-main__present {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .page-main {
    min-width: 768px;
    margin-top: 55px;
  }

  .page-main__description {
    position: relative;
    min-width: 410px;
    margin-left: 80px;
    background-image: none;
    z-index: 2;
    margin-top: 0;
  }

  .page-main__background {
    display: none;
  }

  .page-main__header {
    font-size: 60px;

    &--catalog {
      white-space: nowrap;
      margin-bottom: 165px;
      padding-top: 0;
      padding-left: 30px;
    }

    &--inversion {
      color: black;
      text-align: left;
      font-size: 60px;
      width: 435px;
    }

    &--select {
      margin: 0;
      margin-bottom: 50px;
      margin-left: 30px;
    }
  }

  .page-main__tagline {
    color: black;
    text-align: left;
    font-size: 20px;
    margin-bottom: 50px;
  }

  .page-main__image {
    display: inline-block;
    width: 710px;
    height: 610px;
    padding-top: 50px;
    padding-left: 60px;
    z-index: -1;
  }

  .page-main__text {
    font-size: 20px;
    width: 330px;
    line-height: 1.5;
    margin-bottom: 60px;
    margin-top: 58px;
    margin-left: 70px;
  }

  .page-main__present {
    height: 200px;
    margin-top: 68px;
    box-sizing: border-box;
    margin-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .page-main {
    width: 1100px;
  }

  .page-main__image {
    z-index: 2;
    width: 552px;
    height: 500px;
    padding: 0;
    margin: auto;
    margin-left: 400px;
    margin-top: -315px;
    box-sizing: border-box;
  }

  .page-main__description {
    width: 410px;
    height: 300px;
    position: relative;
    z-index: 2;
  }

  .page-main__desctop-wrapper {
    width: 700px;
    height: 400px;
    // display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 110px;
    padding-left: 210px;
  }

  .page-main__background {
    display: block;
    width: 720px;
    height: 695px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 720px 696px;
  }

  // .page-main__tagline {
  //   display: block;
  //   position: absolute;
  //   left: -500px;
  // }

  .page-main__header {
    text-align: left;

    // &--inversion {
    //   position: absolute;
    //   margin-top: 135px;
    //   left: -500px;
    // }

    &--select {
      margin: auto;
      margin-bottom: 50px;
    }
  }

  .page-main__text {
    margin-left: 0;
    margin-bottom: 70px;
  }

  .page-main__container {
    width: 1220px;
    display: flex;
  }

  .page-main__wrapper {
    width: 1200px;
  }

  .page-main__desc-wrapper {
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -140px;
    margin-left: -300px;
    margin-bottom: 80px;
    box-sizing: border-box;
  }
}
