.page-header {
  min-height: 65px;
  box-sizing: border-box;
}

.page-header__logo-wrapper {
  position: relative;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.page-header__logo {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__image {
  width: 190px;
  min-height: 65px;
  margin: 0;
  padding: 0;
}

.page-header__toogle {
  &--opened {
    display: block;
    width: 19px;
    height: 19px;
    background-image: url("../img/icon-close.svg");
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    margin-left: 70px;
    cursor: pointer;
  }

  &--closed {
    display: block;
    width: 22px;
    height: 19px;
    background-color: white;
    background-repeat: no-repeat;
    border: none;
    margin-left: 65px;
    cursor: pointer;
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--no-js {
    display: none;
  }
}

.page-header__navigation {
  &--opened {
    width: 320px;
  }

  &--closed {
    display: none;
  }
}

.page-header__list {
  padding: 0;
  margin: 0;
  width: 320px;
}

.page-header__item {
  list-style: none;
  text-transform: uppercase;
  height: 65px;
  border: 1px solid #8080804d;
  border-top: none;
  padding: 20px;
  line-height: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;

  &:first-child {
    border-top: 1px solid #c2c2c2;
  }
}

.page-header__link {
  text-decoration: none;
  font-size: 20px;
  color: black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-header {
    width: 720px;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    white-space: nowrap;
  }

  .page-header__list {
    margin-left: 70px;
  }

  .page-header__list,
  .page-header__navigation {
    display: flex;
    min-width: 535px;
    border: none;
  }

  .page-header__item {
    border: none;
    margin-bottom: 0;
    line-height: 1.8;

    &:first-child {
      border: none;
    }
  }

  .page-header__toogle {
    display: none;
  }

  .page-header__link {
    font-size: 18px;
    font-weight: normal;

    &--active,
    &--main-active {
      padding-bottom: 8px;
      border-bottom: 2px solid #68b738;
    }

    &:hover {
      padding-bottom: 8px;
      border-bottom: 2px solid #68b738;
    }
  }

  .page-header__image {
    display: block;
    width: 175px;
    height: 60px;
  }
}

@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
    box-sizing: border-box;
  }

  .page-header__list {
    width: 500px;
    margin-left: 108px;
  }

  .page-header__item {
    padding-top: 16px;
  }

  .page-header__navigation {
    z-index: 2;
    width: 470px;
  }

  .page-header__link {
    font-weight: normal;
    font-size: 20px;

    &:hover {
      border-bottom: 2px solid #68b738;
      padding-bottom: 6px;
    }

    &--active {
      padding-bottom: 6px;
    }

    &--main-active {
      padding-bottom: 6px;
      border-bottom: 2px solid white;
    }
  }

  .page-header__link--menu {
    color: white;

    &:hover {
      border-bottom: 2px solid white;
    }
  }

  .page-header__logo-wrapper {
    width: auto;
  }

  .page-header__image {
    width: 203px;
    height: 60px;
    margin-left: 50px;
  }
}
