$lightgrey: #d3d3d3;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$green-button:#68b738;
$green-hover:#5eaa2f;
$white: #ffffff;
$black: #111111;
$grey: #f2f2f2;
$greybrown:#444444;
$mobile: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
